<nav>
    <ul class="NavBar">
        <li class="NavBarList" id="homeContent">
        <a href="/">Home</a>
        </li>
	    <li class="NavBarList" id="Clients">
		Clients
		<div class="superContent" id="clientsContent">
		    <a href="/clients">List Clients</a>
		    <a href="/clients/create">Create Client</a>
		</div>
	    </li>
	    <li class="NavBarList" id="Products">
		Products
		<div class="superContent" id="productsContent">
		    <a href="/products">List Products</a>
		    <a href="/products/create">Create Product</a>
		</div>
	    </li>
        <li class="NavBarList" id="Sales">
        Sales
        <div class="superContent" id="salesContent">
            <a href="/sales">List Sales</a>
            <a href="/sales/create">Create Sale</a>
        </div>
        </li>
	</ul>
</nav>