<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>

        <div class="404 content">
            <h1>Oops! You have fired a 404 status code!</h1>
            <h2>This only means that the page you are trying to get to
            , does not exist!</h2>
        </div>

        <%- include('./partials/footer.ejs') %>    
    </body>
</html>