<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>
    <style>
	    
	</style>
    <body>
        <%- include('./partials/nav.ejs') %>

        <div class="Home content">
            <h1>Hi there!</h1>
            <h2>Welcome to my simple ecommerce made with Node, Express, Sequelize, PostgreSQL and EJS!</h2>
        </div>

        <%- include('./partials/footer.ejs') %>
    </body>
</html>