<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>
    <style>
	    
	</style>
    <body>
        <%- include('./partials/nav.ejs') %>

        <div class="Home content">
            <h1>Buen día señores!</h1>
            <h2>Bienvenidos a la app de ventas para la prueba técnica de wherEX!</h2>
        </div>

        <%- include('./partials/footer.ejs') %>
    </body>
</html>