/* @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wgth@400;700&display=swap'); */

body {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    font-family: 'Noto Serif', serif;
}
  
.NavBar{
    display: flex;
    padding: 10px 10px 10px 0px;
    margin: 0;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.NavBarList{
    display: inline;
    position: relative;
    padding: 10px;
    background-color: white;
    color: #222;
    margin: 0;
}
.NavBarList:hover{
    background-color: rgb(156, 156, 156);
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

.superContent{
    display: none;
    left: 0;
    margin: 10px 0 0 0;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
    z-index: 1;
}

.superContent a{
    display: block;
    background-color: white;
    color: #777;
    min-width: 100px;
    text-decoration: none;
    padding: 5px;
}

.superContent a:hover{
    background-color: #b8b8b8;
}

.superContent a:hover .NavBarList{
    background-color: #777;
}

#Home:hover #homeContent{
display: block;
position: absolute;
}

#Clients:hover #clientsContent{
display: block;
position: absolute;
}

#Products:hover #productsContent{
display: block;
position: absolute; 
}

#Sales:hover #salesContent{
display: block;
position: absolute; 
}

p, h1, h2, h3, a, ul {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #222;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
}

nav p, nav a {
    color: #222;
    font-weight: 300;
}

footer {
    color: #777;
    text-align: center;
    margin: 80px auto 20px;
}

h2 {
    margin-bottom: 0px;
}

h3 {
    text-transform: capitalize;
    margin-bottom: 8px;
}

h4 {
    margin-top: 0px;
}

.content {
    margin-left: 20px;
}

.create-client form {
    max-width: 400px;
    margin: 0 auto;
}

.create-client input,
.create-client textarea {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 8px;
}

.create-client label {
    display: block;
    margin-top: 24px;
}

textarea {
    height: 120px;
}

.create-client button {
    margin-top: 20px;
    background: crimson;
    color: white;
    padding: 6px;
}

.clients {
    position: relative;
}

.delete {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    padding: 8px;
}

.delete:hover {
    box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}

.clean {
    position: absolute;
    margin-left: 47%;
    border-radius: 50%;
    padding: 8px;
}

.fixed-empty-sale {
    width: 400px;
}

.fixed-sale-value {
    text-align: right;
}

.fixed-sale-value, .generate-sale {
    text-align: center;
}